{% load time %}
<a href="{% url 'open_notification' n.post.post_id n.type %}"
   class="notification-item {% if not n.is_read %}unread{% endif %}">

    <img src="{{ n.latest_actor.profile.picture.url }}"
         class="notif-avatar">

    <div class="notif-content">
        <b>{{ n.latest_actor.username }}</b>

        {% if n.others_count > 0 %}
            and {{ n.others_count }} others
        {% endif %}

        {% if n.type == 'like' %}
            liked your post
        {% elif n.type == 'comment' %}
            commented on your post
        {% endif %}

        <span class="notif-time">
            {{ n.created_at|insta_timesince}}
        </span>
    </div>

 
   {% if n.post.preview_type == 'image' %}
    <img src="{{ n.post.preview_url }}" class="notif-thumb">

    {% elif  n.post.preview_type == 'video' %}
    <div class="media-icon video-icon">
        <i class="fa-solid fa-play"></i>
    </div>
    

    {% elif  n.post.preview_type == 'audio' %}
     <div class="media-icon music-icon">
        <i class="fa-solid fa-music"></i>
     </div>

    {% else %}
    <div class="media-icon text-icon">
         <i class="fa-solid fa-align-left"></i>
    </div>
        
    {% endif %}
</a>

