<a href="{% url 'open_notification' n.post.id %}"
   class="notification-item {% if not n.is_read %}unread{% endif %}">

    <img src="{{ n.latest_actor.profile.picture.url }}"
         class="notif-avatar">

    <div class="notif-content">
        <b>{{ n.latest_actor.username }}</b>

        {% if n.others_count > 0 %}
            and {{ n.others_count }} others
        {% endif %}

        {% if n.type == 'like' %}
            liked your post
        {% elif n.type == 'comment' %}
            commented on your post
        {% endif %}

        <span class="notif-time">
            {{ n.created_at|naturaltime }}
        </span>
    </div>

    <img src="{{ n.post.image.url }}" class="notif-thumb">
</a>