{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon">
  <title>{{user.username}} followings List</title>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <h2>{{user.username}} followings List</h2>
    <div class="card">
            <div class="sidebar-content">
                <h4 class="desktop-member-title">{{user.username}} followings List
                <div class="desktop-member-list">
                    {% for following in followings %}
                       
                            <div class="desktop-member-item">
                                <a href="{% url 'profile' following.user.username %}">
                                    <div class="member-pic-wrapper" style="background: var(--border-color); padding: 0;">
                                        <img src="{{following.user.profile.picture.url}}" 
                                             
                                             alt="{{following.user.username}}" 
                                             class="member-pic">
                                    </div>
                                    <div>
                                        <span class="member-username block">{{following.user.profile.full_name}} </span>
                                        <br><span class="member-title block">@{{following.user.username}}</span>
                                    </div>
                                </a>

                                <a href="{% url 'follow' profile.user.username %}">
                                    {% if request.user.profile in profile.followings.all %}
                                    <button type="submit" class="action-button btn-secondary">
                                    Following
                                    </button>
                                    {% else %}
                                    <button type="submit" class="action-button btn-secondary">
                                    Follow
                                    </button>
                                    {% endif %}
                                    </a>
                              
                            </div>
                        {% empty %}
                        <h2>Not Follow anyBody </h2>
                    {% endfor %}
                </div>
            </div>
</body>
</html>