<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><img src="{{receiver.profile.picture.url}}" height="100" width="100"  alt="">
    {{receiver.profile.full_name}}</center>
    <div id="messageOutput">
         {% for label, msgs in grouped_messages.items %}
            <center><b><i>{{label}}</i></b></center>
            {% for message in msgs %}
            <div id="chat" data-receiver="{{message.receiver.username}}" data-sender="{{message.sender.username}}" hidden>{{message.receiver}}</div>
           {{message.conversation}} | {{ message.chat_time}} <br>
            {% endfor %}
          {% endfor %}
    </div>
    <input type="text" name="" id="message"> <button id="sendBtn">Send</button>

    <script>
        const chatData = document.getElementById('chat');
        const receiver = chatData.dataset.receiver;
        const sender = chatData.dataset.sender;
        const messageOutput = document.getElementById('messageOutput');
        const sendBtn = document.getElementById('sendBtn');
        const message = document.getElementById('message');
        const protocol = window.location.protocol === "https:" ? "wss://" : "ws://";
        const socket = new WebSocket(`${protocol}${window.location.host}/ws/message/`);
        console.log(receiver);
        console.log(sender);
        socket.addEventListener('message', async function(e){
            const data = JSON.parse(e.data);
            const p = document.createElement('p');
            console.log(`${data.sender} = ${data.receiver}:${data.message}`);
            p.innerHTML = `${data.message}|${data.time}`

            messageOutput.appendChild(p);
        })

        sendBtn.addEventListener('click', function(){
            const msg = message.value;
            const msgReceiver = receiver;
            if(!msg) return;
            socket.send(JSON.stringify({
                'receiver': msgReceiver,
                'message': msg
            }));
            message.value='';
        })
    </script>
</body>
</html>